    <div class="item">
        <div>Avatar URL</div>
        <div>
            <input
             type="url"
             name="avatar_url"
             placeholder="http://"
             value="{{student.avatar_url}}"
            >
        </div>
    </div>    
    <div class="item">
        <div>Nome</div>
        <div>
            <input
             type="text"
             name="name"
             value="{{student.name}}"
            >
        </div>
    </div>
    <div class="item">
        <div>Email</div>
        <div>
            <input
             type="email"
             name="email"
             value="{{student.name}}"
            >
        </div>
    </div>
    <div class="item">
        <div>Data de nascimento</div>
        <div>
            <input 
            type="date"
            name="birth"
            value="{{student.birth}}"
            >
        </div>
    </div>
    <div class="item">
        <div>Sexo</div>
        <div>
            <span >
                <input type="radio" 
                name="gender"
                value="M" 
                {% if student.gender == "M" %}
                checked
                {% endif %}>Masculino</span>
            <span >
                <input 
                type="radio"
                name="gender"
                value="F"
                {% if student.gender == "F" %}
                checked
                {% endif %}
                  >Feminino</span>
        </div>
    </div>
    <div class="item">
        <div>Matérias que precisa de auxílio</div>
            <input 
            type="text"
            name="subject"
            placeholder="Digite as matérias separadas por vírgula"
            value="{{student.subject}}"
            >
    </div>
    <button type="submit">SALVAR</button>