<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:400,700@1&display=swap');

:root  { 
    --primary-color: #7159c1;
    --secondary-color: #f7df1e;
}

=======
@import "https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&family=Roboto:400,700wght@100&display=swap";


:root {
    --primary-color:#438bdd;
}
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
* {
    margin: 0;
    padding: 0;
    border: none;
}
<<<<<<< HEAD

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: white;
=======
body {
    background-color: var( --primary-color);
    font-family: 'Roboto', sans-serif;
}
header { 
    background-color: rgb(255, 255, 255);
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}
<<<<<<< HEAD
.links {
    font-size: 22px;
}
.links a + a{
    margin-left: 32px;

}
.links a{  
    text-decoration: none;
    color: #777;
    position: relative;
}
.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}
.links a:hover {
    color: var(--primary-color);
}
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
=======
.links { 
    font-size: 22px;
    
}
.links a {
    text-decoration: none;
    color: var( --primary-color);
    position: relative;
}
.links a + a {
    margin-left: 25px;
}
.links a.active {
    font-weight: bold;
    color:#0031b8;
}
.links a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #0031b8;
    position:absolute;
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
    left: 0;
    bottom: -4px;
}
.links a:hover::after {
    width: 100%;
<<<<<<< HEAD
    transition:width 400ms cubic-bezier(.95,.07,.58,1);
}
=======
    transition: width 400ms cubic-bezier(.55,.57,.58,1) ;
}

>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
/* === CARD === */
.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    
<<<<<<< HEAD
    /* espaçamento ao centro */
    margin:45px auto;

    /* grid dividido ao meio */
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* sombra */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
    
    /* animation */
    
    animation: up 700ms ease-out;

}
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
=======
    margin:45px auto;

    display: grid;
    grid-template-columns: 1fr 1.5fr;

    /* sombra */
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.4);

    animation: up 700ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px)
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
    }
    to {
        opacity: 1;
    }
<<<<<<< HEAD

}

/*details  */
.details {
    padding: 32px;
}
.details .item{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border:none;
}
.details h3, 
.details .item div:nth-child(1){
=======
}

/* details */ 
.details {
    padding: 32px;
}
.details .item {
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}
.details .item:first-child {
    border: none;
}
.details h3,
.details .item div:nth-child(1) {
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}
<<<<<<< HEAD
.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
=======
.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
}
.details h3 {
    text-transform: uppercase;
    font-weight: bold;
<<<<<<< HEAD
    color: var(--primary-color)
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
=======
    color: #0031b8;  
}
.details .item span {
    padding: 8px 16px;
    background-color:#438bdd;
    border-radius: 10px;
    color: black;
    margin-right: 4px;
    margin-top: 10px;
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
<<<<<<< HEAD

/* FORM */
input, select  {
=======
/* === FORM === */
input {
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}
<<<<<<< HEAD

input[type="radio"]{
    width: initial;
    margin-right: 8px;
}
=======
input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
input::placeholder {
    font-size: 16px;
    font-weight: normal;
}
button[type="submit"],
<<<<<<< HEAD
a.button{
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
=======
a.button {
    padding-left: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
   
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}
<<<<<<< HEAD
#form-delete button[type="submit"]{
    margin-top: 8px;
    background-color: lightcoral;
}

/* INDEX INSTRUCTORS */

=======
#form-delete button[type="submit"] {
    margin-top: 10px;
    background-color: indianred;
}

/* INDEX INSTRUCTORS */
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}
<<<<<<< HEAD
=======

>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
.table-container table {
    border-spacing: 0;
}
.table-container thead tr th {
    text-align: left;
}
td, th {
<<<<<<< HEAD
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th {
    text-transform: uppercase;
    color: #777777;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}


=======
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
}
th {
    text-transform: uppercase;
    font-size: 14px;
}
tbody tr:last-child td {
    border-bottom: none;
}
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
tbody tr td:first-child{
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}
<<<<<<< HEAD

tbody tr td:first-child span {
    width: 48px;
    height:48px;
=======
tbody tr td:first-child span {
    width: 48px;
    height: 48px;
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
<<<<<<< HEAD
    border: 2px solid white; 
}
tbody tr td:last-child a,
.table-container > a {
=======
    border: 2px solid white;
}
tbody tr td:last-child a,
.table-container > a
{
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
    background-color: var(--primary-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
<<<<<<< HEAD
    border-radius: 6px;
}
.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
=======
    border-radius: 5px;
}
.table-container > a {
    display: inline-block;
    margin-bottom: 32px;
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
}

.table-container thead tr th:last-child,
td:last-child {
    text-align: center;
<<<<<<< HEAD
}










=======
}
>>>>>>> c42b51b94bc1c2dfbe6f0a65d1051ad0e37901ca
